# Copyright (c) Fensak, LLC.
# SPDX-License-Identifier: AGPL-3.0-or-later OR BUSL-1.1

# Docker compose file for starting a dev environment of the full fensak application. Depends on db.docker-compose.yml to
# provide the database.
version: "3.9"

services:
  web:
    image: denoland/deno:distroless-1.37.0
    working_dir: /code
    ports:
      - "8080:8080"
    expose:
      - "8080"
    volumes:
      - type: bind
        source: "${FSK_CODE_ROOT_PATH:-../..}"
        target: /code
      - "denocache:/deno-dir"
    command:
      - "run"
      - "--allow-net"
      - "--allow-env"
      - "--allow-read"
      - "--unstable"
      - "main.ts"
    environment:
      # The following env vars must be configured in the host system, since they contain potentially sensitive
      # information.
      - "FENSAK_GITHUB_WEBHOOK_SECRET"
      - "FENSAK_GITHUB_APP_ID"
      - "FENSAK_GITHUB_APP_PRIVATE_KEY"
      - "FENSAK_GITHUB_OAUTH_APP_CLIENT_ID"
      - "FENSAK_GITHUB_OAUTH_APP_CLIENT_SECRET"
      - "FENSAK_MANAGEMENT_API_EVENT_SECRET_KEY"
      - "FENSAK_MANAGEMENT_API_ALLOWED_CORS_ORIGINS"
      - "FENSAK_PLAN_REPO_LIMITS"
      - "FENSAK_PLANS_ALLOWED_MULTIPLE_ORGS"
      - "FENSAK_APP_URL"
      - "FENSAK_ACTIVE_SUBSCRIPTION_PLAN_REQUIRED"
      - "TEST_FENSAK_GITHUB_INSTALLATION_ID"

volumes:
  denocache:
